@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
    transition: 0.3s;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    color: rgb(57, 57, 57);
}

h1 {
    font-size: 70px;
    line-height: 70px;
    font-weight: 300;
    margin: 10px;
}

h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin: 50px 0 10px 0; 
     /* top, side, bottom, side 
    up, left, down, right */
}

p {
    margin: 0px;
    font-size: 20px;
}

a {
    color: rgb(109, 16, 196);
    font-size: 20px;
    text-decoration: none;
    font-weight: 200;
    cursor: pointer;
}

.dark a {
    color: #4BE094;
}

a:hover {
    color: rgb(145, 75, 211);
    background-color: rgb(185, 184, 184);
}

.dark a:hover {
    color: #2ca767;
    background-color: rgb(28, 28, 28);
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.switch {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(39, 38, 38);
    position: relative;
}

.flicker {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.3s;
    box-shadow:
        inset 4px 4px 4px rgb(255, 255, 255),
        inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
    background-color: rgb(57, 57, 57);
    transition: 0.3s;
}

.moon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 45px;
}

.dark .flicker {
    transform: translateX(40px);
}

.dark > * {
    color: rgb(255, 255, 255);
}

.main {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 100px;
}

.main-text{
    width: 50%;
    padding: 30px;
}

.square {
    width: 98%;
    margin: 1%;
    height: 350px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.dark .square {
    background-color: rgb(71, 71, 71);
}

.sub-section {
    display: flex;
    flex-wrap: wrap;
}

.hero-image {
    position: relative;
    width: 50%;
    height: 350px;
    display: block;
    margin-bottom: 100px;
}

.cube {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(-25deg) skew(25deg);
}

.cube::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 100%;
    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
}

.cube::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 21px;
    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
}

#html {
    left: 100px;
    bottom: 80px;
    background-image: url("./images/html-logo.png");
    background-size: cover;
    box-shadow: -60px 60px 20px rgba(50, 50, 50, 0.15);

}

#html::before {
    background-color: #e76037;
}

#html::after {
    background-color: #e97f5e;
}

#css {
    left: 250px;
    bottom: 240px;
    background-image: url("./images/css-logo.png");
    background-size: cover;
    box-shadow: -60px 60px 20px rgba(50, 50, 50, 0.15);

}

#css::before {
    background-color: #43a1db;
}

#css::after {
    background-color: #78b7df;
}

#javascript {
    left: 450px;
    bottom: 200px;
    background-image: url("./images/js-logo.png");
    background-size: cover;
    box-shadow: -40px 40px 20px rgba(50, 50, 50, 0.15);

}

#javascript::before {
    background-color: #f5c951;
}

#javascript::after {
    background-color: #f8d268;
}

#react {
    left: 350px;
    bottom: 40px;
    background-image: url("./images/react-logo.png");
    background-size: cover;
    box-shadow: -80px 80px 20px rgba(50, 50, 50, 0.15);

}

#react::before {
    background-color: #b888e2;
}

#react::after {
    background-color: #c597ee;
}

#python {
    left: 80px;
    bottom: 220px;
    background-image: url("./images/python-logo.png");
    background-size: cover;
    box-shadow: -40px 40px 20px rgba(50, 50, 50, 0.15);

}

#python::before {
    background-color: #c4c4c4;
}

#python::after {
    background-color: #d2d2d3;
}

footer {
    display: flex;
    justify-content: center;
    padding: 100px 30px;
    background-color: rgb(136, 136, 136);
}

.dark footer {
    background-color: rgb(28, 28, 28);
}

@media only sccreen and (min-width: 970px) {
    .square {
        width: 48%;
        margin: 1%;
        height: 600px;
    }
}

@media only sccreen and (max-width: 1300px) {
    .hero-image .cube {
        display: none;
    }
    #html #css #javascript #react #python {
        display: none;
    }
}